@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap');

html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

html { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}

*, *:before, *:after {box-sizing: inherit}

.sr-only { position: absolute; width: 1px; height: 1px; margin: -1px; border: 0; padding: 0; white-space: nowrap; clip-path: inset(100%); clip: rect(0 0 0 0); overflow: hidden;}


body {
  background: #f7e9ea;
  font-family: 'Lexend', sans-serif;
}

header {
  margin: 30px;
  text-align: center;
}

header img {
  width: 15%;
  height: auto;
}

header p {
  padding: 40px 80px;
}

h1 {
  font-family: 'Luckiest Guy';
  font-size: 62px;
  margin: 10px 0;
  text-align: center;
}

@keyframes heartbeat {
	0% {
		transform: scale(0.75);
	}

	20% {
		transform: scale(1);
	}

	40% {
		transform: scale(0.75);
	}

	60% {
		transform: scale(1);
	}
	80% {
		transform: scale(0.75);
	}

	100% {
		transform: scale(0.75);
	}
}

.heart {
	position: relative;
	width: 50px;
	height: 90px;
	animation: heartbeat 1s infinite;
}

.heart:before,
.heart:after {
	position: absolute;
	content: "";
	left: 50px;
	top: 0;
	width: 50px;
	height: 80px;
	background: red;
	-moz-border-radius: 50px 50px 0 0;
	border-radius: 50px 50px 0 0;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: 0 100%;
	-moz-transform-origin: 0 100%;
	-ms-transform-origin: 0 100%;
	-o-transform-origin: 0 100%;
	transform-origin: 0 100%;
}

.heart:after {
	left: 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	-o-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
}
.heart {
	position: relative;
	width: 100px;
	height: 90px;
	animation: heartbeat 2s infinite;
}

.heart:before,
.heart:after {
	position: absolute;
	content: "";
	left: 50px;
	top: 0;
	width: 50px;
	height: 80px;
	background: red;
	-moz-border-radius: 50px 50px 0 0;
	border-radius: 50px 50px 0 0;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	-webkit-transform-origin: 0 100%;
	-moz-transform-origin: 0 100%;
	-ms-transform-origin: 0 100%;
	-o-transform-origin: 0 100%;
	transform-origin: 0 100%;
}

.heart:after {
	left: 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transform-origin: 100% 100%;
	-moz-transform-origin: 100% 100%;
	-ms-transform-origin: 100% 100%;
	-o-transform-origin: 100% 100%;
	transform-origin: 100% 100%;
}

.heartContainer {
	display: flex;
	align-items: center;
	justify-content: center;
}

.questionContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.questionSection {
  display: flex;
  flex-direction: row;
  width: 100vw;
}

.questionSection2 {
  display: flex;
  flex-direction: row-reverse;
  width: 100vw;
}

.dogImg {
  border: 20px solid #292F36;
  width: 50vw;
}

.questionText {
  align-items: center;
  background: white;
  border: 20px solid #4ECDC4;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  justify-content: space-evenly;
  width: 50%;
}

label {
  margin: 15px;
  text-align: center;
}

.dropdown {
  background: #f7e9ea;
  border: none;
  color: #292F36;
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'> 🐾</text></svg>") 16 0,auto;
  font-family: 'Lexend', sans-serif; /* Snippet used courtesy of !emojicursor.app*/
  font-size: 16px;
  margin: 20px;
  padding: 10px;
  width: auto;
}

.dropdown:focus {
  border: 5px solid #292F36;
}

.button {
  color: white;
  background: #292F36;
  padding: 20px;
  margin: 40px;
  cursor:url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'> 🦴</text></svg>") 16 0,auto;
  text-transform: uppercase; /* Snippet used courtesy of !emojicursor.app*/
}

.button:focus {
  border: 5px solid #4ECDC4;
}

.buttonContainer {
  display: flex;
  justify-content: center;
}

.results {
  color: #292F36;
  display: flex;
  flex-direction: column;
  background: #f7e9ea;
  justify-content: space-between;
  align-items: center;
}

.results img {
  min-width: 40vw;
  max-width: 40vw;
  padding-top: 20px;
}

.results p {
  margin: 0 40px;
  margin-bottom: 40px;
  text-align: center;
}

footer {
  display: inline-block;
  color: white;
  background: #292F36;
  font-size: 10px;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
}

footer a {
  text-decoration: none;
  color: white;
}

@media only screen and (max-width: 770px) {

  .questionSection, .questionSection2 {
    display: flex;
    flex-direction: column;
    
  }

  .questionText {
    width: 100vw;
  }

  .dogImg {
    width: 100vw;
  }

  .dropdown {
    margin: 20px;
  }

  .results p {
    margin: 0 40px;
    margin-bottom: 40px;
    text-align: center;
  }

}